<h1><%= @user.username %></h1>

<% @user.goals.each do |goal| %>
    <h1><%= goal.title %></h1>
    <p><%= goal.description %></p>
    <p><%= goal.is_complete == true ? "Completed" : "In Progress" %></p>
    <p><%= goal.is_private == true ? "Private" : "Public" %></p>
<% end %>